<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer> -->

<footer class="bg-grey-lightest pt-8">
    <div class="container mx-auto py-8 px-8 opacity-75 font-thin text-center md:text-left">
      <div class="md:flex text-orange-fairmont">
        <div class="md:w-2/5 mb-8">
          <img src="./assets/img/fairmont-logo.png" alt="Fairmont logo" class="md:w-1/2 mb-4">
          <p class="leading-normal">
            PM Management, LLC
            <br>
            1800 N. Stanton St.
            <br>
            El Paso, TX
            <br>
            915.533.6908
            <br>
            <a href="mailto:office@thefairmontcondominiums.com" class="text-orange-fairmont">office@thefairmontcondominiums.com</a>
          </p>

          <p class="mt-8 text-sm invisible md:visible">
            <a href="http://www.tech-mex.io" target="_blank" class="text-grey-darkest">Site by Tech-Mex.io</a>
          </p>
        </div>
        <div class="md:w-1/5 mb-8">
          <nav class="footer-nav">
            <p class="uppercase text-sm font-bold mb-4">Site Navigation</p>
            <ul class="list-reset">
              <li class="pb-4"><a class="text-orange-fairmont" href="#">Lease</a></li>
              <li class="pb-4"><a class="text-orange-fairmont" href="#">Purchase</a></li>
              <li class="pb-4"><a class="text-orange-fairmont" href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="md:w-2/5">
          <p class="uppercase text-sm font-bold mb-4">Map</p>            
          <a href="https://www.google.com/maps/place/Fairmont+Condominiums/@31.7715045,-106.4989188,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x86e75856d58c9aaf:0xb1778702da544be9!2sFairmont+Condominiums!8m2!3d31.7715!4d-106.4967248!3m4!1s0x86e75856d58c9aaf:0xb1778702da544be9!8m2!3d31.7715!4d-106.4967248?hl=en-US">
            <img src="./assets/img/footer-map.png" alt="Map of Fairmont in El Paso" class="shadow-md">
          </a>
          <p class="mt-8 text-sm visible md:invisible">
            <a href="http://www.tech-mex.io" target="_blank" class="text-grey-darkest">Site by Tech-Mex.io</a>
          </p>
        </div>
      </div>


        
    </div>
  </footer>
