/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
 @tailwind preflight;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, you should import this line from it's own file:
  *
  * @import "./tailwind-utilities.css";
  *
  * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
  */
  
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
  h1,h2,h3,h4,h5 {
    @apply 
      .font-headers
      .font-bold;
  }

  a {
    transition: color .3s, border-color .45s;
  }

  .button {
    @apply
      .px-4
      .py-4
      .border
      .rounded
      .no-underline ;
  }
  .button-white {
    @apply
      .border-white
      .text-white
  }
  .button-black {
    @apply
      .border-black
      .text-black
  }


  .border-after:after {
    background-color: rgb(189, 106, 5);
    content: '';
    display: block;
    height: 3px;
    width: 10%;
  }
  
  .border-after-center:after {
    margin: 1rem auto 2rem;
  }
  
  .border-after-left:after {
    margin: .25rem 0;
  }

  .primary-nav {
    transition: background-color .3s;
  }
  .fleur {
    left: -15%;
    opacity: .15;
    top: -5%;
    width: 600px;
  }
  main {
    background: repeating-linear-gradient(
      to right,
      #fff,
      #fff 60px,
      #f7f7f7 60px,
      #f7f7f7 61px
  );
  }

  .site-header {
    background-image: url('../assets/img/fairmontbuilding2.jpg');
    background-position-y: bottom;
  }
  .text-shadow {
    text-shadow: 2px 2px 8px rgba(0,0,0,.93);
  }
  .text-shadow-all * {
    text-shadow: 2px 2px 8px rgba(0,0,0,.93);
  }
  
  .comfort {
    background-image: url('../assets/img/epskyline.jpg');
  }